* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
  font-family: 'Rajdhani', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}
  
.navbar {
  background-color: #00bcd4;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
}

.navbar nav {
  display: flex;
  right: 50px;
  bottom: 10px;
}

.navbar h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  display: inline;
  color: white;
}

.navbar nav a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
  display: inline;
}

.profile-conteiner{
  text-align: center;
}

.user-info {
  margin: 30px auto 40px auto;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 40px;
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(61, 246, 246, 0.665);
  width: 70%;
}

.avatar {
  width: 80px; 
  height: 80px;
  object-fit: cover; 
  border-radius: 50%;
}

.details h2 {
  font-size: 2em;
  color: #00d0ff;
}

.details p {
  color: #d3eaff;
  margin: 10px 0;
}

.stats {
  display: flex;
  gap: 20px;
  font-size: 1em;
  color: #8fd8ff;
  margin: auto;
}

.follow-btn {
  margin-left: auto;
}

button {
  background: #00bcd4;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0097a7;
}

.user-profile-post h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #00d0ff;
} 

.post {
  color: white;
  width: 65%;
  margin: 20px auto;
  padding: 15px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 8px 32px rgba(61, 246, 246, 0.665);
  text-align: center;

}

.post .img-post {
  display: block;  
  margin: 15px auto; 
  width: 40%;
  border-radius: 8px;
}
 
.post .avatar{
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 10px;
}

footer {
  margin-top: 60px;
  text-align: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  padding: 20px 0;
}