* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px dashed red;
}

body {
  font-family: 'Rajdhani', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}

html{
  font-size: 100%;
}

.grid-body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas: 
  "navbar"
  "post-container"
  "footer";
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.left-panel {
  width: 50%;
  height: 100vh;
  padding: 15%;
  border-right: 1px solid black;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
}

.left-panel h2 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.left-panel p {
  font-size: 1.1em;
  max-width: 400px;
  margin: 20px auto;
}

.left-panel img {
  margin-top: 30px;
  max-width: 80%;
}

.right-panel {
  width: 50%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
}

.card-right {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 360px;
  border: 1px solid black;
  text-align: center;
}

.card-right h1 {
  font-size: 2.3em;
  margin-bottom: 10px;
}

.card-right h1 span {
  font-weight: normal;

}

.subtitle {
  font-size: 0.95em;
  margin-bottom: 25px;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 12px 12px 12px 38px;
  font-size: 1em;
  border: 1px solid black;

}

button {
  background: #00bcd4;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0097a7;
}

a {
  display: block;
  margin: 6px 0;
  font-size: 0.9em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer-card {
  margin-top: 20px;
  font-size: 0.75em;
}

.navbar {
  background-color: #00bcd4;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: 0;
}
.navbar nav {
  display: flex;
  right: 50px;
  bottom: 10px;
}

.navbar h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  display: inline;
  color: white;
}

.navbar nav a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
  display: inline;
}

.post-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-container h2{
  text-align: center;
  margin-bottom: 5%;
  color: #00d0ff;
}

.post-container section form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-container section form .content-form {
  width: 50%;
  margin-top: 10px;
  padding: 10px;
}

.post-container section form .input {
  padding: 0px;
}

.post-container section form textarea {
  resize: none; 
  overflow: auto; 
  white-space: pre-wrap;  
}

.post-container section form div {
  width: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons-post {
  width: 20%;
}

footer {
    height: 100px; 
    text-align: center;
    margin-top: 20px;
  }
  
  footer p {
    font-size: 0.8em;
    padding-top: 50px;
}

.footer {
  align-self: end;
  height: auto;
  margin-top: 10px;
}

.footer p {
  padding-top: 0;
}

#navbar {
  grid-area: navbar;
}

#post-container {
  grid-area: post-container;
}

#footer {
  grid-area: footer;
}